:root {
  --statusWidth: 250px;
  --navBackgroundColor: rgb(51, 20, 0);
  --statusColor: rgb(63, 63, 63);
}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "game status";
  grid-template-columns: 1fr var(--statusWidth);
}

.nav {
  background-color: bisque;
  grid-area: nav;
}

.game {
  grid-area: game;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../../assets/backroundImage.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}

.status {
  background-color: var(--statusColor);
  grid-area: status;
  padding: 0px 16px;
}
